#avatar {
border-radius: 2200px;
align-content: center;
height: 100px;
width: 50%;
margin: 0px;
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
max-height: 400px;

}

#projects{
  background-color: #5EF38C;
}
#education{
 background-color: #B7FDFE;
}
#experience{
  background-color: #D78EBF;
}
.colsizing .icon-container{
  align-items: center;
}

.colsizing  h4{
  color: #343A1A;
  text-align: center;
}

.colsizing  .compass{
  /* margin: auto; */
  /* justify-content: center; */
  height: 50px;
  width: 100%
}
.colsizing  .book{
  height: 50px;
  width: 100%;
}
.colsizing  .heart{
  height: 50px;
  width: 100%;
}


.colsizing {
  background-color: #5EF38C;
}

.main{
  background-color: #5EF38C;
}

.profile-avatar {
  background-color: #5EF38C;
}

















/* .container {
  display: flex;
  flex-direction: row;

}

.profile {
  flex-grow: 1;
  flex-direction: column;
  margin: auto;
  background-color: teal;
  display: flex;
  min-height: 100vh;
}

.profile-1{
  margin: auto;
  background-color: yellowgreen;

}

.profile-1 img{
  border-radius: 50%;
  margin: auto;
  height: 30 px;

}

.profile-2{
  flex-grow: 4;
  margin: auto;
  background-color: lightcoral;
}


.main {
  height: 100%;
  flex-grow: 3;
  margin: auto;
  background-color: thistle;
  min-height: 100vh;
} */

