#avatar {
border-radius: 2000px;
align-content: center;
height: 220px;
width: 100%;
margin: 0px;
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;

}

.colsizing  h4{
  color: green;
  text-align: center;
}

.colsizing  .heart{
  margin: auto;
  justify-content: center;
}
.colsizing  .linkedin{
  padding: 10px;
  text-align: center;
}




















/* .container {
  display: flex;
  flex-direction: row;

}

.profile {
  flex-grow: 1;
  flex-direction: column;
  margin: auto;
  background-color: teal;
  display: flex;
  min-height: 100vh;
}

.profile-1{
  margin: auto;
  background-color: yellowgreen;

}

.profile-1 img{
  border-radius: 50%;
  margin: auto;
  height: 30 px;

}

.profile-2{
  flex-grow: 4;
  margin: auto;
  background-color: lightcoral;
}


.main {
  height: 100%;
  flex-grow: 3;
  margin: auto;
  background-color: thistle;
  min-height: 100vh;
} */

